
       html {
            background-color: #5fcff6;
        }
        body {
            font-family: "Lucida Console", Courier, monospace;
            margin: 60px;
            font-size: 20px;
        }
    
